/* Custom Style */

/* Darker green: #0A351C */

/* grey: #ececec */

/* happy green: #6c9a06 */

/* Green footer udea: #0d4928 */

/* header */
#custom-header{
    background-color: #ececec;
}

#nav-container{
    background-color: #0A351C;
}

.logo-image{
    margin: 20px 0;
}

.logo-image img{
    max-width: 230px;
}

.site-title{
    margin: 30px 0;
}

/* End header */

/* Navbar */
.navbar{
    margin-bottom: inherit;
    border: inherit;
}

.navbar-default{
    background-color: #0A351C
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #6c9a06;
    color: white;
}

.navbar-default .navbar-nav>li>a{
    color: white;
}

.navbar-default .navbar-nav>li>a:hover{
    background-color: #6c9a06;
    color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #6c9a06;
    color: white;
}
/* End Navbar */

/* Icons */
.icon-text a{
    color: #6c9a06;
    text-align: center;
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.icon-text h2{
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

.icon-text h4{
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 25px;
}

.thumbnail{
    background-color: #ececec;
    margin-bottom: 5px;
    padding-top: 35px;
    padding-bottom: 35px;
}
/* End Icons */



/* left column */

#login-icon{
    text-align: center;
    margin-top: 44px;
    margin-bottom: 27px;
    font-size: 12rem;
    color: #383838;
}

.glyphicon{
    line-height: inherit;
}

#start-sesion-caption{
    text-align: center;
    margin-top: inherit;
}
/* End left column */

/* main area */
#main-area{
    margin-top: 40px;
}
/* End main area */

/* footer */
#footer{
    background-color: #0d4928;
    color: white;
    padding: 20px;

}

#footer h4{
    margin-bottom: 20px;
}

#footer p{
    line-height: 1rem;
}

#footer p a{
    color: #b7c9bf;
    font-size: 13px;
    font-weight: bold;

}

.fontp
{
    font-family: sans-serif,Lato-Regular !important;
}

/* End footer */

/* Form */
.form-control:focus{
    border-color: #6c9a06;
}
/* End Form */

/* button primary */
.btn-primary {
    background-color: #0d4928;
    border-color: #145832;
}

.btn-primary:hover{
    background-color: #0A351C;
    border-color: #0c4223;
}

.btn-primary.focus, .btn-primary:focus{
    background-color: #0A351C;
    border-color: #0c4223;
}

.btn-primary.active, .btn-primary:active{
    background-color: #0A351C;
    border-color: #0c4223;
}

.btn-primary:active:focus{
    background-color: #0A351C;
    border-color: #0c4223;
}
/* End button primary */

/* Button success */
.btn-success{
    color: white;
    background-color: #6c9a06;
    border-color: #7aac0a;
}

.btn-success:hover{
    color: white;
    background-color: #7aac0a;
    border-color: #80b30e;
}

.btn-success:focus{
    color: white;
    background-color: #7aac0a;
    border-color: #80b30e;
}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover{
    color: white;
    background-color: #7aac0a;
    border-color: #80b30e;
}

/* End Button success */

/* left navigation */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color: #6c9a06;
}
/* End left navigation*/

/* launch app imgs */
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover{
    border-color: #6c9a06;
}

.nav>li>a:focus, .nav>li>a:hover{
    border-color: #d8f29d;
    background-color: #d8f29d;
}


/* End Launch app imgs */

/* Avatar styles */
.avatar-container{
    text-align: center;
    margin: 30px 0 10px 0;
}

.avatar{
    border-radius: 50%;
    border: 3px solid #80b30e;
    max-width: 100px;
    height: auto;
    margin: 0 auto;
}
/* End Avatar styles */

.fontp
{
    font-size: 16px;
    font-weight: bold;
    margin: 18px 0px 24px 0px;
}

.circle {
    border-radius: 50%;
    text-decoration: none;
    margin: 10px 1px;

}

.fa:hover {
    background-color: #6c9a06;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 0.7em 1em;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    padding: 0.7em 0.8em;
}


.fa-youtube {
    background: #bb0000;
    color: white;
    padding: 0.7em 0.8em;
}

.fa-instagram {
    background: #125688;
    color: white;
    padding: 0.7em 0.8em;
}
#contenido{
    width: 100%;
    background-color: #f1f1f1 ;
    height: auto;
    float: left;
    z-index: -10;
    box-sizing: border-box;

}
a:hover{
    color: #005E2C;
}
a{
    color: #005E2C;
}
.tableestilo tr th
{
    background-color: #e6e6e6;
    color: #214a32;
    padding: 3px;
    font-size: 12pt;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.tableestilo tr td {
    font-size: 10pt;
}

#linklogo
{
    color:#499f00;
    text-decoration: none;
}
#txtoarea
{
    border-style: inset;
    border-width: 1px;
    margin-left: 1px;
    border-color: #aeb6bf;
}
#txtedit
{
    border-style: inset;
    border-width: 1px;
    margin-left: 1px;
    border-color: #aeb6bf;
}

.mhsuccess {
    color:#fff;
    padding:1px 15px;
    border-bottom:1px solid #eee;
    background-color: #0A351C;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.pagination > li > a, .pagination > li > span{background-color:#0A351C}

.pagination > li.active > a, .pagination > li.active > span{background-color:#0A351C}
.pagination:hover > li.active > a, .pagination > li.active > span{background-color:#6c9a06}